*{
    margin: 0;
    padding: 0;
   }
    nav{
        top : 0;
        height: 38px;
        text-align: center;
        justify-content: center;
        background-color:#1e3d59;   
        color: aliceblue;
        padding-top: 10px;
        font-size: larger;
    }
    footer{
        border: 1px solid black;
        text-align: center;
        height: 30px;
        padding-top: 15px;
        background-color:#ff6e40;
    }
    .container{
        display: flex;
        border: 1px solid black;
        height: 90vh;
        background-color:antiquewhite;
        line-height: 25px;
    }
    .item{
        border: 1px solid black; 
        text-align: center;
    }
    #item1{
        width: 30%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    img{
        /* margin-top: 150px; */
        width: 100%;
    
    }
     #img1{
       margin-top: 20px;
    } 
    #item2{
        width: 45%;
    }
    #item3{
        width: 25%;
        padding: px;
    }
    dl{
        text-align: left;
        margin: 10px;
        font-size: large;
    }
    dd{
        text-align: justify;
        margin-bottom: 25px;
    }
    dt{
       font-weight: bold;
       font-size: 20px;
       margin-top:15px;
       margin-bottom: 15px;
    }
